node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# macOS
.DS_Store

# Firebase config
google-services.json

# Temporary files
*.log
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build files
build/
*.apk
*.aab
*.ipa
